{% set page_title = "Search results pgae" %}
{% set page_sub_title = "search on {{page_name}}" %}
{% set page_keywords = "search, page, kewwords" %}
{% set page_description = "search Page description" %}
{% set page_chronical = "search.html" %}
{% extends ".layouts/en/content-layout.njk" %}

{% block content %}
        <h2>Search</h2>
        <form action="/search.html" method = "get" role = "search">
          <input autocomplete="off" name = "q" placeholder="search wth google" title = "enter search here" type = "text"/>
        </form>
        <h2>Results</h2>
        <div class="gcse-search"></div>
      {% endblock %}
      {% block scripts %}
      <script async src="https://cse.google.com/cse.js?cx=a86591325a0f2c784%22%3E"></script>
      {% endblock %}