/* overall */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* section end */

.iframe {
  height:65em;
  width:85em;
  border:none;
  border-radius: 1.5em;
  margin: auto;
  border: .2em solid;
}

.iframeContainer {
  text-align: center;
}

.app {
  background-color: aliceblue;
}